---
import Accent from "./Accent.astro";
import YellowArrow from "./YellowArrow.astro";
---
<div class="relative z-10 border-2 bg-white rounded-2xl px-4 py-4 mx-auto mt-8 lg:mt-0 w-[90vw] lg:w-[20vw] lg:min-w-[500px] lg:bottom-90 customShadow-md hover:lg:scale-[101%] duration-300 ease-in-out">
  <div class="bg-yellow-300 border-2 px-4 py-2 mb-2 rounded-2xl w-[75vw] min-w-[290px] lg:w-[17vw] lg:min-w-[450px] flex flex-row justify-left items-top">
      <img src="/ConverPic1.png" alt="ConverPic1" class="size-12">
    <p class="ml-5 text-sm lg:text-xl">
      I’m a <strong class="font-bold">Frontend Developer</strong> with experience developing websites and building
      modern and performant mobile applications.
    </p>
  </div>
  <div class="bg-rose-500 border-2 px-4 py-2 mb-6 lg:mb-12 ml-auto rounded-2xl w-[70vw] lg:w-[12vw] lg:min-w-[400px] flex flex-row justify-end items-top">
    <p class="mr-5 text-sm lg:text-xl">
      Hello Pedro, I'm the recruiter, let's see what you're made of.</p>
      <img src="/ConverPic2.png" alt="ConverPic2" class="size-12">
  </div>
  <div class="flex flex-row justify-between">
    <div class="bg-rose-500 border-2 px-2 py-4 rounded-2xl w-[75%]">
      <p class="text-sm lg:text-xl">I want to know more about you<span class=" animate-ping">|</span> </p>
    </div>
    <a href="#aboutme" class="bg-green-300 border-2 py-4 rounded-2xl w-[23%] buttonAnimation">
      <p class="font-bold text-center text-sm lg:text-xl mx-auto">SEND</p>
      <div class="absolute translate-x-10 -translate-y-17 lg:translate-x-19 lg:-translate-y-19 animate-blink">
        <Accent />
      </div>
      <div class="absolute -translate-x-6 translate-y-2 lg:-translate-x-6 lg:translate-y-2 rotate-6 animate-move-right-up">
        <YellowArrow />
      </div>
    </a>
  </div>
</div>
