---
import Aboutme from "../components/aboutme.astro";
import Hero from "../components/hero.astro";
import Projects from "../components/projects.astro";
import Techstack from "../components/techstack.astro";
import "./tailwind.css";
---

<html
  lang="es"
  class="scroll-smooth overflow-y-auto overflow-x-hidden overscroll-none"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/ConverPic1.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Developer | Pedro Ollero</title>
  </head>
  <body class="syne-font bg-rose-500 w-full max-w-full">

    <div
      class="parallax-decoration absolute top-0 left-0 w-full h-[400%] bg-cover bg-center -z-10 block md:hidden"
      style="background-image: url('/MobileDecorations.webp');"
    >
    </div>
    <div
      class="parallax-bg absolute top-0 left-0 w-full h-[400%] bg-cover bg-center -z-20 block md:hidden"
      style="background-image: url('/MobileBackground.webp');"
    >
    </div>
    <div
      class="parallax-decoration absolute top-0 left-0 w-full h-[400%] bg-cover bg-center -z-10 hidden md:block lg:block"
      style="background-image: url('/DesktopDecorations.webp');"
    >
    </div>
    <div
      class="parallax-bg absolute top-0 left-0 w-full h-[400%] bg-cover bg-center -z-20 hidden md:block lg:block"
      style="background-image: url('/DesktopBackground.webp');"
    >
    </div>
    <Hero />
    <Aboutme />
    <Projects />
    <Techstack />

    <script>
      if (typeof window !== "undefined") {
        const bg = document.querySelectorAll(".parallax-bg");
        const deco = document.querySelectorAll(".parallax-decoration");
        const content = document.querySelector("body"); // o un wrapper si quieres moverlo

        window.addEventListener("scroll", () => {
          const scrollY = window.scrollY;

          // capa fondo (m치s lento)
          // bg.forEach((el) => {
          //   el.style.transform = `translateY(${scrollY * 0.03}px)`;
          // });

          // capa decoraci칩n (intermedio)
          deco.forEach((el) => {
            el.style.transform = `translateY(${scrollY * 0.03}px)`;
          });

          // capa contenido (opcional, se mueve m치s r치pido o se deja fijo)
          // content.style.transform = `translateY(${scrollY * 0.1}px)`;
        });
      }
    </script>
  </body>
</html>
