---
import Aboutme from "../components/aboutme.astro";
import Hero from "../components/hero.astro";
import "./tailwind.css";
---

<html
  lang="es"
  class="scroll-smooth overflow-y-auto overflow-x-hidden overscroll-none"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="syne-font bg-rose-500 w-full max-w-full">
    <img src="/Phone.png" class="w-full absolute top-0 block md:hidden -z-10">
    <img src="/Desktop.png" class="w-full absolute top-0 hidden md:block -z-10">
    <Hero />
    <Aboutme />
    <!-- <Projects /> -->
    <!-- <Techstack />
    <Contact /> -->

  </body>
</html>
