---
import AboutMeItem from "./ui/AboutMeItem.astro";
import Header from "./ui/Header.astro";
import Separation2 from "./visuals/Separation2.astro";
---

<main id="aboutme" class="h-screen bg-violet-500 pt-2 lg:pt-4">
  <Separation2
  color="bg-red-100"
  class="absolute z-0 top-[1550px] translate-[-6%] inset-0 overflow-hidden"
/>
  <Header label="About me" />
  <div class="flex flex-col justify-center items-center lg:-ml-150 mt-4 lg:mt-10">
    <AboutMeItem customStyle="-translate-x-[3vw]">
      <p class="text-xl">
        After working as a journalist and content manager for media station such
        as <strong>COPE</strong> and <strong>BeSoccer</strong>, I became
        interested in web development a few years ago.
      </p>
    </AboutMeItem>
    <AboutMeItem customStyle="mt-4 lg:mt-10 translate-x-[3vw]">
      <p class="text-xl">
        The knowledge gained through my <strong
          >Media Communication Degree</strong
        > at the University of Málaga and Middlesex University, combined with my
        programming skills, has helped me develop a <strong
          >highly creative profile</strong
        > within the world of developers.
      </p>
    </AboutMeItem>
    <AboutMeItem customStyle="mt-4 lg:mt-10 -translate-x-[3vw]">
      <p class="text-xl">
        I’m a <strong>proactive, communicative, and determined</strong> person with
        <strong>strong leadership skills</strong> . Aware of my potential and everything
        I still have to learn, I’m highly motivated to take on <strong
          >a new professional challenge</strong
        > .
      </p>
    </AboutMeItem>
  </div>
</main>
