---
import Header from "./ui/Header.astro";
import ProjectItem from "./ui/ProjectItem.astro";
---

<main id="projects" class="h-screen bg-green-300 pt-2 lg:pt-4">
  <Header label="Experience" />
  <div class="flex flex-col lg:flex-row justify-around items-center mx-0 lg:mx-4 mt-4 lg:mt-10 ">
    <ProjectItem
      label="Feats"
      tech1="React Native"
      tech2="Jest"
      tech3="API Rest"
      customStyle="-translate-x-1 lg:translate-x-0"
    >
      <p>
        This is the explanation of the project; it should be very detailed so
        that the recruiter believes I know what I’m doing.
      </p>
    </ProjectItem>
    <ProjectItem
      label="Feats"
      tech1="React Native"
      tech2="Jest"
      tech3="API Rest"
      customStyle="mt-4 lg:mt-0 lg:translate-y-30 translate-x-1 lg:translate-x-0"
    >
      <p>
        This is the explanation of the project; it should be very detailed so
        that the recruiter believes I know what I’m doing.
      </p>
    </ProjectItem>
    <ProjectItem
      label="Feats"
      tech1="React Native"
      tech2="Jest"
      tech3="API Rest"
      customStyle="mt-4 lg:mt-0 -translate-x-1 lg:translate-x-0"
    >
      <p>
        This is the explanation of the project; it should be very detailed so
        that the recruiter believes I know what I’m doing.
      </p>
    </ProjectItem>
  </div>
</main>
