---
import Header from "./ui/Header.astro";
import TechItem from "./ui/TechItem.astro";
---

<main class="h-screen bg-rose-500 pt-2 lg:pt-4">
    <Header label="Tech Stack"/>
    <div class="grid grid-cols-4 md:grid-cols-6 lg:grid-cols-6 gap-x-4 gap-y-4 mx-[5vw] md:mx-[10vw] lg:mx-[15vw] bg-amber-300 mt-4">
        <TechItem/>
        <TechItem/>
        <TechItem/>
        <TechItem/>
        <TechItem/>
        <TechItem/>
        <TechItem/>
        <TechItem/>
        <TechItem/>
        <TechItem/>
        <TechItem/>
        <TechItem/>

    </div>
</main>