---
import MailIcon from "../assets/MailIcon.astro";
import PhoneIcon from "../assets/PhoneIcon.astro";
import AboutMeItem from "./ui/AboutMeItem.astro";
import Header from "./ui/Header.astro";
import TechItem from "./ui/TechItem.astro";
import Arrow from "./visuals/Arrow.astro";
---

<main id="techstack" class="h-screen pt-2 lg:pt-4 relative">

    <Header label="Tech Stack"/>
    <div class="grid grid-cols-4 md:grid-cols-6 lg:grid-cols-6 gap-x-2 gap-y-4 mx-[5vw] md:mx-[5vw] lg:mx-[15vw] mb-8 mt-8">
        <TechItem img="/html.webp" size={70}/>
        <TechItem img="/css.webp" size={70}/>
        <TechItem img="/js.webp" size={70}/>
        <TechItem img="/typescript.webp" size={70}/>
        <TechItem img="/react.webp" size={70}/>
        <TechItem img="/Astro.webp" size={70}/>
        <TechItem img="/git.webp" size={70}/>
        <TechItem img="/vite.webp" size={70}/>
        <TechItem img="/node.webp" size={70}/>
        <TechItem img="/sass.webp" size={70}/>
        <TechItem img="/jira.webp" size={70}/>
        <TechItem img="/figma.webp" size={70}/>
    </div>

    <Header label="Contact"/>
    <!-- <div class="absolute translate-x-[85vw] -translate-y-20 lg:-translate-x-[1vw] lg:-translate-y-10 transform scale-x-[-1] -rotate-12">
        <Arrow />
      </div> -->
    <section class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-y-4 md:gap-y-4 lg:gap-y-4 gap-x-20 mt-8 mx-[5vw] ">
        <a href="mailto:pedroollero1998@gmail.com" class="contactItem w-[90vw] md:w-[500px] lg:w-[500px] md:ml-20 lg:ml-60 buttonAnimation">
            <MailIcon size="40" />
            <p class="text-[5vw] md:text-2xl lg:text-2xl ml-4 lg:ml-8">pedroollero1998@gmail.com</p>
        </a>
        <a href="tel:+34649549787" class="contactItem w-[70vw] md:w-[300px] lg:w-[300px] md:ml-120 lg:ml-30 buttonAnimation">
            <PhoneIcon size="30"/>
            <p class="text-[5vw] md:text-2xl lg:text-2xl ml-4 lg:ml-8">+34 649549787</p>
        </a>
        <a href="https://www.linkedin.com/in/pedroollero/" target="_blank" rel="noopener noreferrer" class="contactItem w-[90vw] lg:w-[400px] md:ml-20 lg:ml-100 buttonAnimation">
            <img src="/linkedin.webp" alt="linkedin" class="w-[40px]">
            <p class="text-[5vw] md:text-2xl lg:text-2xl ml-4 lg:ml-8">Pedro Ollero Cervantes</p>
        </a>
        <a href="https://github.com/PedroOllero" target="_blank" rel="noopener noreferrer" class="contactItem w-[70vw] lg:w-[300px] md:ml-120 lg:ml-50 mb-4 buttonAnimation">
            <img src="/github.webp" alt="linkedin" class="w-[40px]">
            <p class="text-[5vw] md:text-2xl lg:text-2xl ml-4 lg:ml-8">/PedroOllero</p>
        </a>
    </section>
</main>