---
const customStyle = Astro.props.customStyle
---
<div class=`bg-white border-2 rounded-4xl customShadow-sm w-[90vw] md:w-[50vw] lg:w-[30vw] px-4 py-4   hover:scale-[101%] transition duration-300 ease-in-out ${customStyle}`>
    <slot />
</div>