---
const label = Astro.props.label
---

<h1 class="relative z-10 bg-white m-auto text-3xl lg:text-5xl lg:font-thin rounded-full block w-[230px] lg:w-[340px] text-center px-6 lg:px-12 py-2 lg:py-4 border-4 border-black customShadow-xl">{label}</h1>