---
import NavItem from "./NavItem.astro";
---

<nav
  class="flex flex-row justify-around m-auto w-[95%] lg:w-[80%] rounded-full px-4 lg:px-48 py-2 lg:py-4 border-4 bg-green-300 customShadow-md hover:scale-[101%] transition duration-500 ease-in-out"
>
  <NavItem label="About Me" />
  <NavItem label="Projects" />
  <NavItem label="Tech Stack" />
</nav>
