---
import NavItem from "./NavItem.astro";
---

<nav
  class="relative z-10 flex flex-row justify-around m-auto w-[95%] lg:w-[80%] rounded-full mt-2 lg:mt-4 px-4 lg:px-48 py-2 lg:py-4 border-4 bg-green-300 customShadow-md hover:scale-[101%] transition duration-500 ease-in-out cursor-pointer"
>
  <NavItem href="#aboutme" label="About Me" />
  <NavItem href="#projects" label="Projects" />
  <NavItem href="#techstack" label="Tech Stack" />
  <NavItem href="#techstack" label="Contact" />
</nav>
