---
const {label, href} = Astro.props
---
<a href={href} class="bg-white text-[3vw] lg:text-3xl lg:font-thin rounded-full inline-block px-3 lg:px-8 py-2 lg:py-4 border-2 lg:border-4 border-black buttonAnimation">{label}</a>
