---
const {label, href} = Astro.props
---
<a href={href} class="bg-white text-1xl lg:text-3xl font-thin rounded-full inline-block px-3 lg:px-12 py-2 lg:py-4 border-4 border-black buttonAnimation">{label}</a>
