---
interface Props {
  img: string;
  size?: number;
}

const { img, size = 48 } = Astro.props as Props;
const imgStyle = `width:${size}%;height:${size}%;`;
---
<div class="border-2 customShadow-md size-[20vw] md:size-[13vw] lg:size-[8vw] bg-white rounded-2xl grid place-items-center">
  <img src={img} alt="TechStack" style={imgStyle} loading="lazy" decoding="async" />
</div>